<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="validationCustom01" required>
    <div class="valid-feedback">
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Precio</label>
    <input type="text" class="form-control" id="validationCustom02" value="" required>
    <div class="valid-feedback">
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom03" class="form-label">Color</label>
    <input type="text" class="form-control" id="validationCustom03" value="" required>
    <div class="valid-feedback">
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom04" class="form-label">fecha</label>
    <input type="text" class="form-control" id="validationCustom04" required>
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom05" class="form-label">Inicio Actividad</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom06" class="form-label">Descripción</label>
    <input type="text" class="form-control" id="validationCustom06" required>
    <div class="invalid-feedback">
    </div>
  </div>


  <div class="col-12">
    <button class="btn btn-primary" type="submit">Guardar</button>
  </div>
</form>